<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title >TrumpTweeter</title>
    <link rel="icon" href="trump.ico" type="image/x-icon"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script type="text/javascript">

      // window.onload = function(){ document.getElementById("loader").style.display = "none" }

        //runs when the document is loaded
      $(document).ready(
        function() {
          console.log("ready");
          var sortBy = "none"

          $(".dropdown-menu li a").click( function() {
              sortBy = $(this).text();
              console.log(sortBy)
              $('#searchButton').click();//Trigger search button click event
          });

          $("#searchButton").click(function() {
            $('#tweets').html(`<img id="loading" class="mx-auto" src="https://clipart.info/images/ccovers/1523212416donald-trump-head-wtf-png.png">`)
   
            var searchString = $("#searchString").val();

            console.log(searchString);

            if(searchString === "") {
              return;
            }

            $.get("/search?searchString="+searchString+"&sortBy="+sortBy, function(data,status) {

              if(data.status === "Success") {
              $("#tweets").html("")
              for( i=0; i<Object.keys(data.tweet).length; i++){

                  $("#tweets").append(
                    '<li class="list-group-item mx-auto" style="width: 1000px;">'+
                        '<p class=" d-inline font-weight-bold"  >'+data.tweet[i].Name+'</p>'+
                        '<p class="d-inline font-weight-light text-primary"> '+data.tweet[i].Twitter_Handle+'</p>'+
                        '<p class="d-inline font-weight-light text-success float-right">'+data.tweet[i].Date+'</p>'+
                      '<p >'+data.tweet[i].Tweet+'</p>'+
                      '<div class="btn-group">'+
                          '<a href='+data.tweet[i].tweet_URL+' target="_blank" class="btn btn-outline-primary ">'+
                              '<i class="glyphicon glyphicon-floppy-disk" aria-hidden="true">Original Tweet</i>'+
                          '</a>'+
                      '</div>'+
                      '<p class="d-inline font-weight-light text-warning float-right"> '+data.tweet[i].Agency+'</p>'+
                      '<p class="d-inline font-weight-light text-secondary float-right"> - </p>'+
                      '<p class="d-inline font-weight-light text-danger float-right"> '+data.tweet[i].Job+'</p>'+
                    '</li>'
                    )
                  }

                } if(data.status === "Error") {
                  $("#error").html('<h1 class = "errorMsg">'+data.message+'</h1>')
                }
              })
            })

            $('#searchString').keypress(function(e){
                if(e.which == 13){//Enter key pressed
                    $('#searchButton').click();//Trigger search button click event
                }
            });

            $("#export").click( () => {
                $.get("/export", (data, status) => {
                    let dataUri = 'data:text/csv;charset=utf-8,'+ data.csv;
                    var searchString = $("#searchString").val();
                    let exportFileDefaultName = 'trumptweeter_' + searchString.toUpperCase() + '.csv';

                    let linkElement = document.createElement('a');
                    linkElement.setAttribute('href', dataUri);
                    linkElement.setAttribute('download', exportFileDefaultName);
                    linkElement.click();
                });
            });

          }
        );
    </script>

  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary ">
      <a class="navbar-brand" href="#">TrumpTweeter</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="https://projects.propublica.org/trump-town/" target="_blank">ProPublica <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="data">Data</a>
          </li>
        </ul>
      </div>
    </nav>

      <div class="containter">
        <!--  Background-->
          <div class="row">
            <div class="col s12"><p></p></div>
          </div>

         <div id="top spacing">
              <div class="col s12 m4 l2"><p></p></div>
              <div class="col s12 m4 l2"><p></p></div>
              <div class="col s12 m4 l2"><p></p></div>
              <div class="col s12 m4 l2"><p></p></div>
              <div class="col s12 m4 l2"><p></p></div>
              <div class="col s12 m4 l2"><p></p></div>
              <div class="col s12 m4 l2"><p></p></div>
              <div class="col s12 m4 l2"><p></p></div>
              <div class="col s12 m4 l2"><p></p></div>
              <div class="col s12 m4 l2"><p></p></div>
              <div class="col s12 m4 l2"><p></p></div>
              <div class="col s12 m4 l2"><p></p></div>
              <div class="col s12 m4 l2"><p></p></div>
              <div class="col s12 m4 l2"><p></p></div>
              <div class="col s12 m4 l2"><p></p></div>
              <div class="col s12 m4 l2"><p></p></div>
          </div>

          <div class="row">
            <div class="col s12"><h1 class="text-center">Search for topics within Trump Appointees' tweets!</h1></div>
          </div>
          <div class="row">
            <div class="col s12"><p></p></div>
          </div>
          <div>
            <div class="col s12 m4 l2"><p></p></div>
          </div>

          <div class="row">
            <div class="row">
              <div class="col s12"></div>
            </div>
            <div class="col s12 m4 l2"><p></p></div>
            <div class="col s12 m4 l8 text-center">
              <div id="searchBar" class="input-group mb-3">
                <input id="searchString" type="text" class="form-control" placeholder="Search for a topic" aria-label="Username" aria-describedby="basic-addon1">
                <button type="button" id="searchButton" class="btn btn-primary">Search</button>
                <div class="dropdown">
                  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Sort by </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#" id="none">Random</a></li>
                    <li><a class="dropdown-item" href="#" id="Name">Name</a></li>
                    <li><a class="dropdown-item" href="#" id="Date">Date</a></li>
                    <li><a class="dropdown-item" href="#" id="Agency">Agency</a></li>
                  </ul>
                  <button type="button" class="btn btn-warning" id="export">Export to CSV</button>
                </div>
              </div>
            </div>
            <div class="col s12 m4 l2"><p></p></div>
          </div>
          <div class="row"><p></p></div>
          <div class="row"><p></p></div>
          <div id="loading-div"> </div>
          <div id="tweet-results">
            <ul id="tweets" class="list-group"></ul>
          </div>
  </body>
</html>
